@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Standard Dark Theme Variables */
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 12px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    color-scheme: dark;
  }
  /* Lock in container radiuses */
  .container, .card, .panel {
    @apply rounded-md md:rounded-lg;
  }
}
