openapi: 3.1.0
info:
  title: Sovereign Dev API
  description: Production-safe build agent for SOVV / Sovereign.os / defrag.app.
  version: 2.5.0
servers:
  - url: https://sovereign-broker.defrag.app
paths:
  /health:
    get:
      operationId: healthCheck
      summary: Broker health and safety flags
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /repo/read-file:
    post:
      operationId: repoReadFile
      summary: Read a repo file by path using a stable broker Action endpoint
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/RepoReadFileRequest" } } } }
      responses:
        "200": { description: Repo file content, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /repo/list-files:
    post:
      operationId: repoListFiles
      summary: List repository files using a stable broker Action endpoint
      requestBody: { required: false, content: { application/json: { schema: { $ref: "#/components/schemas/RepoListFilesRequest" } } } }
      responses:
        "200": { description: File list, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /repo/list-commits:
    post:
      operationId: repoListCommits
      summary: List recent repository commits using a stable broker Action endpoint
      requestBody: { required: false, content: { application/json: { schema: { $ref: "#/components/schemas/RepoListCommitsRequest" } } } }
      responses:
        "200": { description: Commit list, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /repo/list-pull-requests:
    post:
      operationId: repoListPullRequests
      summary: List repository pull requests using a stable broker Action endpoint
      requestBody: { required: false, content: { application/json: { schema: { $ref: "#/components/schemas/RepoListPullRequestsRequest" } } } }
      responses:
        "200": { description: Pull request list, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /github/request:
    post:
      operationId: githubRequest
      summary: Execute a repo-scoped GitHub API request through the broker and return the GitHub response
      description: Prefer the stable /repo/* endpoints. This raw GitHub passthrough is still available for allowlisted public reads and authenticated writes.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GithubRequest" }
      responses:
        "200": { description: GitHub response, content: { application/json: { schema: { $ref: "#/components/schemas/GithubResponse" } } } }
        "403": { description: Blocked, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /repo/tree:
    get:
      operationId: getRepoTree
      summary: Full repo tree, secrets filtered
      parameters:
        - { name: recursive, in: query, required: false, schema: { type: boolean, default: true } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /repo/file:
    get:
      operationId: getRepoFile
      summary: Read repo file, secrets blocked
      parameters:
        - { name: path, in: query, required: true, schema: { type: string } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /repo/commits:
    get:
      operationId: getRecentCommits
      summary: Recent commits on main
      parameters:
        - { name: limit, in: query, required: false, schema: { type: integer, default: 10 } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /repo/prs:
    get:
      operationId: listPRs
      summary: List pull requests
      parameters:
        - { name: state, in: query, required: false, schema: { type: string, enum: [open, closed, all], default: open } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /ai/chat:
    post:
      operationId: aiChat
      summary: Chat with build agent
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/ChatRequest" } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /ai/generate-image:
    post:
      operationId: generateImage
      summary: Generate image
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/ImageGenRequest" } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /ai/analyze-image:
    post:
      operationId: analyzeImage
      summary: Analyze image
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/ImageAnalyzeRequest" } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /cf/workers:
    get:
      operationId: listWorkers
      summary: List Cloudflare Workers
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /cf/worker/logs:
    get:
      operationId: getWorkerLogs
      summary: Worker logs
      parameters:
        - { name: worker, in: query, required: true, schema: { type: string } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /cf/worker/deploy:
    post:
      operationId: deployWorker
      summary: Deploy Cloudflare Worker script through broker
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/DeployWorkerRequest" } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /cf/kv/get:
    get:
      operationId: kvGet
      summary: Read KV value
      parameters:
        - { name: key, in: query, required: true, schema: { type: string } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /cf/kv/set:
    post:
      operationId: kvSet
      summary: Write KV value
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/KVSetRequest" } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /cf/d1/query:
    post:
      operationId: d1Query
      summary: Run SELECT query against D1
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/D1QueryRequest" } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /cf/r2/list:
    get:
      operationId: r2List
      summary: List R2 objects
      parameters:
        - { name: bucket, in: query, required: false, schema: { type: string, enum: [vibesdk-templates, sovereign-logs], default: vibesdk-templates } }
        - { name: prefix, in: query, required: false, schema: { type: string } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /cf/pages/deployments:
    get:
      operationId: getPagesDeployments
      summary: Cloudflare Pages deployments
      parameters:
        - { name: project, in: query, required: false, schema: { type: string, default: sovv-web } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /stripe/overview:
    get:
      operationId: stripeOverview
      summary: Stripe overview
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /stripe/subscriptions:
    get:
      operationId: listSubscriptions
      summary: List subscriptions
      parameters:
        - { name: status, in: query, required: false, schema: { type: string, enum: [active, past_due, canceled, trialing, all], default: active } }
        - { name: limit, in: query, required: false, schema: { type: integer, default: 20 } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /stripe/revenue:
    get:
      operationId: getRevenue
      summary: Revenue metrics
      parameters:
        - { name: days, in: query, required: false, schema: { type: integer, default: 30 } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /stripe/create-price:
    post:
      operationId: createPrice
      summary: Create Stripe product and price
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/CreatePriceRequest" } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /build/scope:
    get:
      operationId: getBuildScope
      summary: Build scope analysis
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /build/generate-component:
    post:
      operationId: generateComponent
      summary: Generate component code
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/GenerateComponentRequest" } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /build/generate-worker:
    post:
      operationId: generateWorker
      summary: Generate worker code
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/GenerateWorkerRequest" } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /build/propose-pr:
    post:
      operationId: proposePR
      summary: Commit files directly or open PR
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/ProposePRRequest" } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
components:
  securitySchemes:
    BearerAuth: { type: http, scheme: bearer }
  schemas:
    AnyResponse:
      type: object
      additionalProperties: true
    RepoReadFileRequest:
      type: object
      required: [path]
      properties:
        path: { type: string, description: Repository file path, e.g. package.json }
        ref: { type: string, description: Optional branch, tag, or SHA }
    RepoListFilesRequest:
      type: object
      properties:
        prefix: { type: string, description: Optional path prefix }
        ref: { type: string, default: main }
        recursive: { type: boolean, default: true }
    RepoListCommitsRequest:
      type: object
      properties:
        limit: { type: integer, default: 10, maximum: 100 }
        sha: { type: string, default: main }
    RepoListPullRequestsRequest:
      type: object
      properties:
        state: { type: string, enum: [open, closed, all], default: open }
        limit: { type: integer, default: 20, maximum: 100 }
    GithubRequest:
      type: object
      required: [path]
      properties:
        method: { type: string, enum: [GET, HEAD, POST, PUT, PATCH, DELETE], default: GET }
        path: { type: string, description: Repo-scoped GitHub API path, e.g. /contents/README.md or /pulls }
        headers: { type: object, additionalProperties: { type: string } }
        body: { description: JSON body to forward to GitHub }
        confirm: { type: boolean, description: Required for POST/PUT/PATCH/DELETE GitHub requests }
    GithubResponse:
      type: object
      properties:
        ok: { type: boolean }
        status: { type: integer }
        status_text: { type: string }
        method: { type: string }
        path: { type: string }
        github: {}
        rate_limit: { type: object, additionalProperties: true }
    ChatRequest:
      type: object
      required: [message]
      properties:
        message: { type: string }
        model: { type: string, enum: [chat, code, vision, fast], default: chat }
        inject_repo_context: { type: boolean, default: true }
        system_override: { type: string }
        history: { type: array, items: { type: object, properties: { role: { type: string }, content: { type: string } } } }
    ImageGenRequest:
      type: object
      required: [prompt]
      properties:
        prompt: { type: string }
        model: { type: string, enum: [flux-schnell, flux-dev, sdxl, sdxl-lightning], default: flux-schnell }
        width: { type: integer, default: 1024 }
        height: { type: integer, default: 1024 }
        upload_to_r2: { type: boolean, default: true }
        r2_key: { type: string }
    ImageAnalyzeRequest:
      type: object
      required: [image_url, question]
      properties:
        image_url: { type: string }
        question: { type: string }
    D1QueryRequest:
      type: object
      required: [sql]
      properties:
        sql: { type: string }
        params: { type: array, items: {} }
    KVSetRequest:
      type: object
      required: [key, value, confirm]
      properties:
        key: { type: string }
        value: { type: string }
        ttl: { type: integer }
        confirm: { type: boolean }
    DeployWorkerRequest:
      type: object
      required: [name, code]
      properties:
        name: { type: string }
        code: { type: string }
        confirm: { type: boolean, description: Optional for this Action bridge; deploy flag still required }
    CreatePriceRequest:
      type: object
      required: [name, amount_cents, interval, confirm]
      properties:
        name: { type: string }
        amount_cents: { type: integer }
        interval: { type: string, enum: [month, year, one_time] }
        currency: { type: string, default: usd }
        confirm: { type: boolean }
    GenerateComponentRequest:
      type: object
      required: [description]
      properties:
        description: { type: string }
        component_name: { type: string }
        target_path: { type: string }
        style_context: { type: string }
        generate_mockup: { type: boolean }
    GenerateWorkerRequest:
      type: object
      required: [name, description]
      properties:
        name: { type: string }
        description: { type: string }
        routes: { type: array, items: { type: string } }
        bindings: { type: array, items: { type: object } }
    ProposePRRequest:
      type: object
      required: [files, title]
      properties:
        title: { type: string }
        body: { type: string }
        mode: { type: string, enum: [direct, pr], default: direct }
        files:
          type: array
          items:
            type: object
            required: [path, content]
            properties:
              path: { type: string }
              content: { type: string }
              sha: { type: string }
security:
  - BearerAuth: []