openapi: 3.1.0
info:
  title: SOVV Sovereign Build Agent API
  description: |
    Full-stack autonomous build agent for the SOVV / Sovereign.os / defrag.app platform.
    Connects to GitHub (defragapp/SOVV), Cloudflare Workers/D1/KV/R2/AI, and Stripe.
    Supports dynamic model switching: chat → Llama 3.3 70B, image/component gen → Flux / SDXL / Vision.
  version: 2.0.0
servers:
  - url: https://sovereign-broker.defrag.app
    description: Sovereign GPT Broker (Cloudflare Worker)

paths:

  # ── Health ──────────────────────────────────────────────────────────────────
  /health:
    get:
      operationId: healthCheck
      summary: Check broker health and connected service status
      responses:
        "200":
          description: All systems status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  # ── Repo ────────────────────────────────────────────────────────────────────
  /repo/tree:
    get:
      operationId: getRepoTree
      summary: Get the full file tree of defragapp/SOVV
      parameters:
        - name: path
          in: query
          required: false
          schema:
            type: string
          description: Sub-path to list (empty = root)
        - name: recursive
          in: query
          required: false
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: File tree
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RepoTreeResponse"

  /repo/file:
    get:
      operationId: getRepoFile
      summary: Read a specific file from the SOVV repo
      parameters:
        - name: path
          in: query
          required: true
          schema:
            type: string
          description: File path relative to repo root (e.g. apps/worker/src/index.ts)
      responses:
        "200":
          description: File content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RepoFileResponse"

  /repo/write:
    post:
      operationId: writeRepoFile
      summary: Create or update a file in the SOVV repo via GitHub API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WriteFileRequest"
      responses:
        "200":
          description: Commit result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WriteFileResponse"

  /repo/commits:
    get:
      operationId: getRecentCommits
      summary: Get recent commits on main branch
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
      responses:
        "200":
          description: Recent commits
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommitsResponse"

  # ── AI / Chat ────────────────────────────────────────────────────────────────
  /ai/chat:
    post:
      operationId: aiChat
      summary: |
        Chat with the Sovereign Build Agent using Cloudflare AI.
        Automatically injects repo context. Use model field to switch AI capability:
        - "chat" → @cf/meta/llama-3.3-70b-instruct-fp8-fast (default, fast reasoning)
        - "vision" → @cf/meta/llama-3.2-11b-vision-instruct (image understanding)
        - "code" → @cf/openai/gpt-oss-120b (complex code generation)
        - "fast" → @cf/meta/llama-3.2-3b-instruct (quick answers)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatRequest"
      responses:
        "200":
          description: AI response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatResponse"

  /ai/generate-image:
    post:
      operationId: generateImage
      summary: |
        Generate an image or UI component visual using Cloudflare AI image models.
        Use for: UI mockups, component designs, brand assets, marketing visuals.
        Models: flux-1-schnell (fast), flux-2-dev (quality), stable-diffusion-xl (detailed)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageGenRequest"
      responses:
        "200":
          description: Generated image as base64 or R2 URL
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageGenResponse"

  /ai/analyze-image:
    post:
      operationId: analyzeImage
      summary: Analyze a screenshot or image using vision model (Llama 3.2 Vision)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageAnalyzeRequest"
      responses:
        "200":
          description: Vision analysis result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatResponse"

  # ── Cloudflare Workers ───────────────────────────────────────────────────────
  /cf/workers:
    get:
      operationId: listWorkers
      summary: List all deployed Cloudflare Workers in the SOVV account
      responses:
        "200":
          description: Worker list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkersListResponse"

  /cf/worker/deploy:
    post:
      operationId: deployWorker
      summary: Deploy or update a Cloudflare Worker script
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeployWorkerRequest"
      responses:
        "200":
          description: Deploy result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeployWorkerResponse"

  /cf/worker/logs:
    get:
      operationId: getWorkerLogs
      summary: Get recent logs/errors for a specific worker
      parameters:
        - name: worker
          in: query
          required: true
          schema:
            type: string
          description: Worker script name (e.g. sovereign-os-api)
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
      responses:
        "200":
          description: Worker logs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkerLogsResponse"

  /cf/kv/get:
    get:
      operationId: kvGet
      summary: Read a value from Cloudflare KV (SOVV_DATA namespace)
      parameters:
        - name: key
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: KV value
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KVResponse"

  /cf/kv/set:
    post:
      operationId: kvSet
      summary: Write a value to Cloudflare KV
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KVSetRequest"
      responses:
        "200":
          description: Write result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"

  /cf/d1/query:
    post:
      operationId: d1Query
      summary: Run a read-only SQL query against the SOVV D1 database (vibesdk-db)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/D1QueryRequest"
      responses:
        "200":
          description: Query results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/D1QueryResponse"

  /cf/r2/list:
    get:
      operationId: r2List
      summary: List objects in an R2 bucket
      parameters:
        - name: bucket
          in: query
          required: false
          schema:
            type: string
            enum: [vibesdk-templates, sovereign-logs]
            default: vibesdk-templates
        - name: prefix
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: R2 object list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/R2ListResponse"

  /cf/r2/upload:
    post:
      operationId: r2Upload
      summary: Upload a file or asset to R2 storage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/R2UploadRequest"
      responses:
        "200":
          description: Upload result with public URL
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/R2UploadResponse"

  /cf/pages/deployments:
    get:
      operationId: getPagesDeployments
      summary: Get recent Cloudflare Pages deployments
      parameters:
        - name: project
          in: query
          required: false
          schema:
            type: string
            default: sovv-web
      responses:
        "200":
          description: Pages deployments
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagesDeploymentsResponse"

  # ── Stripe ───────────────────────────────────────────────────────────────────
  /stripe/overview:
    get:
      operationId: stripeOverview
      summary: Get Stripe account overview — MRR, active subscribers, recent charges
      responses:
        "200":
          description: Stripe overview
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StripeOverviewResponse"

  /stripe/subscriptions:
    get:
      operationId: listSubscriptions
      summary: List active Stripe subscriptions
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [active, past_due, canceled, trialing, all]
            default: active
      responses:
        "200":
          description: Subscriptions list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionsResponse"

  /stripe/revenue:
    get:
      operationId: getRevenue
      summary: Get revenue metrics — MRR, ARR, churn, recent charges
      parameters:
        - name: days
          in: query
          required: false
          schema:
            type: integer
            default: 30
      responses:
        "200":
          description: Revenue metrics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevenueResponse"

  /stripe/create-price:
    post:
      operationId: createPrice
      summary: Create a new Stripe price/product
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePriceRequest"
      responses:
        "200":
          description: Created price
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatePriceResponse"

  # ── Build Intelligence ───────────────────────────────────────────────────────
  /build/scope:
    get:
      operationId: getBuildScope
      summary: |
        Get a full intelligent scope analysis of the SOVV project —
        what's built, what's missing, what's broken, what to build next.
        Returns a prioritized build plan with file references.
      responses:
        "200":
          description: Build scope analysis
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildScopeResponse"

  /build/component:
    post:
      operationId: buildComponent
      summary: |
        Generate a complete React/TypeScript component for the SOVV web app.
        Uses high-capability model. Optionally generates a visual mockup image.
        Returns ready-to-commit code + optional image asset.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildComponentRequest"
      responses:
        "200":
          description: Generated component code + optional image
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildComponentResponse"

  /build/worker:
    post:
      operationId: buildWorker
      summary: Generate and optionally deploy a new Cloudflare Worker
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildWorkerRequest"
      responses:
        "200":
          description: Generated worker code + deploy result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildWorkerResponse"

  /build/commit:
    post:
      operationId: commitBuild
      summary: Commit one or more generated files to the SOVV repo and trigger CI/CD
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommitBuildRequest"
      responses:
        "200":
          description: Commit + deploy result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommitBuildResponse"

# ── Schemas ──────────────────────────────────────────────────────────────────
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer

  schemas:
    HealthResponse:
      type: object
      properties:
        ok: { type: boolean }
        broker: { type: string }
        github: { type: string }
        cloudflare: { type: string }
        stripe: { type: string }
        timestamp: { type: string }

    RepoTreeResponse:
      type: object
      properties:
        ok: { type: boolean }
        files: { type: array, items: { type: string } }
        total: { type: integer }

    RepoFileResponse:
      type: object
      properties:
        ok: { type: boolean }
        path: { type: string }
        content: { type: string }
        sha: { type: string }
        url: { type: string }

    WriteFileRequest:
      type: object
      required: [path, content, message]
      properties:
        path: { type: string, description: "File path in repo (e.g. apps/web/components/MyComponent.tsx)" }
        content: { type: string, description: "Full file content" }
        message: { type: string, description: "Git commit message" }
        sha: { type: string, description: "Existing file SHA (required for updates, omit for new files)" }
        branch: { type: string, default: main }

    WriteFileResponse:
      type: object
      properties:
        ok: { type: boolean }
        commit_sha: { type: string }
        url: { type: string }

    CommitsResponse:
      type: object
      properties:
        ok: { type: boolean }
        commits:
          type: array
          items:
            type: object
            properties:
              sha: { type: string }
              message: { type: string }
              author: { type: string }
              date: { type: string }
              url: { type: string }

    ChatRequest:
      type: object
      required: [message]
      properties:
        message: { type: string }
        model:
          type: string
          enum: [chat, code, vision, fast]
          default: chat
          description: "chat=Llama70B, code=GPT-OSS-120B, vision=Llama-Vision-11B, fast=Llama-3B"
        inject_repo_context: { type: boolean, default: true }
        system_override: { type: string, description: "Optional custom system prompt addition" }
        history:
          type: array
          description: "Previous messages for multi-turn conversation"
          items:
            type: object
            properties:
              role: { type: string, enum: [user, assistant] }
              content: { type: string }

    ChatResponse:
      type: object
      properties:
        ok: { type: boolean }
        response: { type: string }
        model_used: { type: string }
        tokens_used: { type: integer }

    ImageGenRequest:
      type: object
      required: [prompt]
      properties:
        prompt: { type: string, description: "Detailed image/UI description" }
        model:
          type: string
          enum: [flux-schnell, flux-dev, sdxl, sdxl-lightning]
          default: flux-schnell
        width: { type: integer, default: 1024 }
        height: { type: integer, default: 1024 }
        upload_to_r2: { type: boolean, default: true, description: "Upload result to R2 and return URL" }
        r2_key: { type: string, description: "R2 object key (auto-generated if omitted)" }

    ImageGenResponse:
      type: object
      properties:
        ok: { type: boolean }
        image_url: { type: string, description: "R2 public URL if uploaded" }
        base64: { type: string, description: "Base64 image data if not uploaded" }
        model_used: { type: string }
        r2_key: { type: string }

    ImageAnalyzeRequest:
      type: object
      required: [image_url, question]
      properties:
        image_url: { type: string }
        question: { type: string }

    WorkersListResponse:
      type: object
      properties:
        ok: { type: boolean }
        workers:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              etag: { type: string }
              modified_on: { type: string }

    DeployWorkerRequest:
      type: object
      required: [name, code]
      properties:
        name: { type: string, description: "Worker script name" }
        code: { type: string, description: "Worker JavaScript/TypeScript source" }
        bindings:
          type: array
          items: { type: object }

    DeployWorkerResponse:
      type: object
      properties:
        ok: { type: boolean }
        worker_name: { type: string }
        deployed: { type: boolean }
        url: { type: string }

    WorkerLogsResponse:
      type: object
      properties:
        ok: { type: boolean }
        worker: { type: string }
        logs: { type: array, items: { type: object } }

    KVResponse:
      type: object
      properties:
        ok: { type: boolean }
        key: { type: string }
        value: { type: string }

    KVSetRequest:
      type: object
      required: [key, value]
      properties:
        key: { type: string }
        value: { type: string }
        ttl: { type: integer, description: "TTL in seconds (optional)" }

    D1QueryRequest:
      type: object
      required: [sql]
      properties:
        sql: { type: string, description: "SQL query (SELECT only for safety)" }
        params: { type: array, items: {}, description: "Bound parameters" }

    D1QueryResponse:
      type: object
      properties:
        ok: { type: boolean }
        results: { type: array, items: { type: object } }
        meta: { type: object }

    R2ListResponse:
      type: object
      properties:
        ok: { type: boolean }
        bucket: { type: string }
        objects:
          type: array
          items:
            type: object
            properties:
              key: { type: string }
              size: { type: integer }
              uploaded: { type: string }

    R2UploadRequest:
      type: object
      required: [key, content]
      properties:
        key: { type: string }
        content: { type: string, description: "Base64-encoded file content" }
        content_type: { type: string, default: "application/octet-stream" }
        bucket: { type: string, enum: [vibesdk-templates, sovereign-logs], default: vibesdk-templates }

    R2UploadResponse:
      type: object
      properties:
        ok: { type: boolean }
        key: { type: string }
        url: { type: string }

    PagesDeploymentsResponse:
      type: object
      properties:
        ok: { type: boolean }
        project: { type: string }
        deployments:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              url: { type: string }
              created_on: { type: string }
              environment: { type: string }
              latest_stage: { type: object }

    StripeOverviewResponse:
      type: object
      properties:
        ok: { type: boolean }
        active_product: { type: string }
        active_subscriptions: { type: integer }
        mrr_cents: { type: integer }
        arr_cents: { type: integer }
        recent_charges: { type: array, items: { type: object } }

    SubscriptionsResponse:
      type: object
      properties:
        ok: { type: boolean }
        subscriptions:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              status: { type: string }
              customer: { type: string }
              plan: { type: string }
              amount: { type: integer }
              created: { type: string }

    RevenueResponse:
      type: object
      properties:
        ok: { type: boolean }
        period_days: { type: integer }
        total_revenue_cents: { type: integer }
        mrr_cents: { type: integer }
        arr_cents: { type: integer }
        charge_count: { type: integer }
        active_subs: { type: integer }

    CreatePriceRequest:
      type: object
      required: [name, amount_cents, interval]
      properties:
        name: { type: string }
        amount_cents: { type: integer }
        interval: { type: string, enum: [month, year, one_time] }
        currency: { type: string, default: usd }

    CreatePriceResponse:
      type: object
      properties:
        ok: { type: boolean }
        price_id: { type: string }
        product_id: { type: string }

    BuildScopeResponse:
      type: object
      properties:
        ok: { type: boolean }
        summary: { type: string }
        built:
          type: array
          items: { type: string }
        missing:
          type: array
          items: { type: string }
        broken:
          type: array
          items: { type: string }
        next_priorities:
          type: array
          items:
            type: object
            properties:
              priority: { type: integer }
              task: { type: string }
              files: { type: array, items: { type: string } }
              effort: { type: string }

    BuildComponentRequest:
      type: object
      required: [description]
      properties:
        description: { type: string, description: "What the component should do and look like" }
        component_name: { type: string }
        target_path: { type: string, description: "Where to place it in the repo (e.g. apps/web/components/spaces/)" }
        style_context: { type: string, description: "Design system context — dark theme, JetBrains Mono, Tailwind" }
        generate_mockup: { type: boolean, default: false, description: "Also generate a visual mockup image" }
        auto_commit: { type: boolean, default: false }

    BuildComponentResponse:
      type: object
      properties:
        ok: { type: boolean }
        component_name: { type: string }
        code: { type: string }
        target_path: { type: string }
        mockup_url: { type: string }
        committed: { type: boolean }
        commit_sha: { type: string }

    BuildWorkerRequest:
      type: object
      required: [name, description]
      properties:
        name: { type: string }
        description: { type: string }
        routes: { type: array, items: { type: string } }
        bindings: { type: array, items: { type: object } }
        auto_deploy: { type: boolean, default: false }

    BuildWorkerResponse:
      type: object
      properties:
        ok: { type: boolean }
        worker_name: { type: string }
        code: { type: string }
        wrangler_toml: { type: string }
        deployed: { type: boolean }

    CommitBuildRequest:
      type: object
      required: [files, message]
      properties:
        message: { type: string }
        files:
          type: array
          items:
            type: object
            required: [path, content]
            properties:
              path: { type: string }
              content: { type: string }
              sha: { type: string }
        trigger_deploy: { type: boolean, default: false }

    CommitBuildResponse:
      type: object
      properties:
        ok: { type: boolean }
        commits:
          type: array
          items:
            type: object
            properties:
              path: { type: string }
              sha: { type: string }
              url: { type: string }
        deploy_triggered: { type: boolean }

    OkResponse:
      type: object
      properties:
        ok: { type: boolean }
        message: { type: string }

security:
  - BearerAuth: []