openapi: 3.1.0
info:
  title: Sovereign Dev API
  description: Production-safe build agent for SOVV / Sovereign.os / defrag.app.
  version: 2.9.0
servers:
  - url: https://sovereign-broker.defrag.app
paths:
  /health:
    get:
      operationId: healthCheck
      summary: Broker health and safety flags
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /repo/read-file:
    post:
      operationId: repoReadFile
      summary: Read a repo file by path using a stable broker Action endpoint
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/RepoReadFileRequest" } } } }
      responses:
        "200": { description: Repo file content, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /repo/list-files:
    post:
      operationId: repoListFiles
      summary: List repository files using a stable broker Action endpoint
      requestBody: { required: false, content: { application/json: { schema: { $ref: "#/components/schemas/RepoListFilesRequest" } } } }
      responses:
        "200": { description: File list, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /repo/list-commits:
    post:
      operationId: repoListCommits
      summary: List recent repository commits using a stable broker Action endpoint
      requestBody: { required: false, content: { application/json: { schema: { $ref: "#/components/schemas/RepoListCommitsRequest" } } } }
      responses:
        "200": { description: Commit list, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /repo/list-pull-requests:
    post:
      operationId: repoListPullRequests
      summary: List repository pull requests using a stable broker Action endpoint
      requestBody: { required: false, content: { application/json: { schema: { $ref: "#/components/schemas/RepoListPullRequestsRequest" } } } }
      responses:
        "200": { description: Pull request list, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /github/request:
    post:
      operationId: githubRequest
      summary: Execute a repo-scoped GitHub API request through the broker and return the GitHub response
      description: Prefer the stable /repo/* endpoints. This raw GitHub passthrough is still available for allowlisted public reads and authenticated writes.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GithubRequest" }
      responses:
        "200": { description: GitHub response, content: { application/json: { schema: { $ref: "#/components/schemas/GithubResponse" } } } }
        "403": { description: Blocked, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /repo/tree:
    get:
      operationId: getRepoTree
      summary: Full repo tree, secrets filtered
      parameters:
        - { name: recursive, in: query, required: false, schema: { type: boolean, default: true } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /repo/file:
    get:
      operationId: getRepoFile
      summary: Read repo file, secrets blocked
      parameters:
        - { name: path, in: query, required: true, schema: { type: string } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /repo/commits:
    get:
      operationId: getRecentCommits
      summary: Recent commits on main
      parameters:
        - { name: limit, in: query, required: false, schema: { type: integer, default: 10 } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /repo/prs:
    get:
      operationId: listPRs
      summary: List pull requests
      parameters:
        - { name: state, in: query, required: false, schema: { type: string, enum: [open, closed, all], default: open } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /repo/edit:
    post:
      operationId: repoEdit
      summary: Safe anchor-based file edit with dry-run and diff preview
      description: >
        Applies one or more anchor-based operations (insert_after, insert_before, replace_exact)
        to a repository file. Supports dry_run mode. Requires confirm: true for committed writes.
        Fails if any anchor is missing or appears more than once. Blocked paths are rejected.
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/RepoEditRequest" } } } }
      responses:
        "200": { description: Edit result with diff, content: { application/json: { schema: { $ref: "#/components/schemas/RepoEditResponse" } } } }
        "400": { description: Anchor not found or duplicate, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
        "403": { description: Blocked path or safety flag, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /build:
    post:
      operationId: build
      summary: Intent-driven build and deploy runtime
      description: >
        Accepts a high-level goal and orchestrates the full build/deploy pipeline.
        Currently supports goal "deploy broker" which dispatches the sovereign-broker
        GitHub workflow, persists a durable job, and returns a structured build report.
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/BuildRequest" } } } }
      responses:
        "200": { description: Build report with job, stages, and verification, content: { application/json: { schema: { $ref: "#/components/schemas/BuildResponse" } } } }
        "400": { description: Unsupported goal, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
        "403": { description: Safety flag not enabled, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /ai/chat:
    post:
      operationId: aiChat
      summary: Chat with build agent
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/ChatRequest" } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /ai/generate-image:
    post:
      operationId: generateImage
      summary: Generate image
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/ImageGenRequest" } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /ai/analyze-image:
    post:
      operationId: analyzeImage
      summary: Analyze image
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/ImageAnalyzeRequest" } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /cf/workers:
    get:
      operationId: listWorkers
      summary: List Cloudflare Workers
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /cf/worker/logs:
    get:
      operationId: getWorkerLogs
      summary: Worker logs
      parameters:
        - { name: worker, in: query, required: true, schema: { type: string } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /cf/worker/deploy:
    post:
      operationId: deployWorker
      summary: Deploy Cloudflare Worker script through broker
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/DeployWorkerRequest" } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /cf/kv/get:
    get:
      operationId: kvGet
      summary: Read KV value
      parameters:
        - { name: key, in: query, required: true, schema: { type: string } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /cf/kv/set:
    post:
      operationId: kvSet
      summary: Write KV value
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/KVSetRequest" } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /cf/d1/query:
    post:
      operationId: d1Query
      summary: Run SELECT query against D1
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/D1QueryRequest" } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /cf/r2/list:
    get:
      operationId: r2List
      summary: List R2 objects
      parameters:
        - { name: bucket, in: query, required: false, schema: { type: string, enum: [vibesdk-templates, sovereign-logs], default: vibesdk-templates } }
        - { name: prefix, in: query, required: false, schema: { type: string } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /cf/pages/deployments:
    get:
      operationId: getPagesDeployments
      summary: Cloudflare Pages deployments
      parameters:
        - { name: project, in: query, required: false, schema: { type: string, default: sovv-web } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /stripe/overview:
    get:
      operationId: stripeOverview
      summary: Stripe overview
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /stripe/subscriptions:
    get:
      operationId: listSubscriptions
      summary: List subscriptions
      parameters:
        - { name: status, in: query, required: false, schema: { type: string, enum: [active, past_due, canceled, trialing, all], default: active } }
        - { name: limit, in: query, required: false, schema: { type: integer, default: 20 } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /stripe/revenue:
    get:
      operationId: getRevenue
      summary: Revenue metrics
      parameters:
        - { name: days, in: query, required: false, schema: { type: integer, default: 30 } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /stripe/create-price:
    post:
      operationId: createPrice
      summary: Create Stripe product and price
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/CreatePriceRequest" } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /build/scope:
    get:
      operationId: getBuildScope
      summary: Build scope analysis
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /capabilities:
    get:
      operationId: getCapabilities
      summary: Self-describing capability registry — lists all broker capabilities and current safety flag states
      responses:
        "200": { description: Capability map, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /build/generate-component:
    post:
      operationId: generateComponent
      summary: Generate component code
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/GenerateComponentRequest" } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /build/generate-worker:
    post:
      operationId: generateWorker
      summary: Generate worker code
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/GenerateWorkerRequest" } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /build/propose-pr:
    post:
      operationId: proposePR
      summary: Commit files directly or open PR
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/ProposePRRequest" } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /jobs:
    post:
      operationId: jobsCreate
      summary: Create a durable deploy job
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/JobCreateRequest" } } } }
      responses:
        "200": { description: Job created, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /jobs/{id}:
    get:
      operationId: jobsGet
      summary: Get job status
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Job, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
        "404": { description: Not found }
  /jobs/{id}/events:
    get:
      operationId: jobsGetEvents
      summary: Get job events
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Events, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /jobs/{id}/poll:
    get:
      operationId: jobsPoll
      summary: Poll workflow run status and update job to succeeded/failed
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Poll result with job, workflow status, and verification, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /jobs/{id}/cancel:
    post:
      operationId: jobsCancel
      summary: Cancel a job
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody: { required: false, content: { application/json: { schema: { type: object } } } }
      responses:
        "200": { description: Cancelled, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
components:
  securitySchemes:
    BearerAuth: { type: http, scheme: bearer }
  schemas:
    AnyResponse:
      type: object
      additionalProperties: true
    RepoReadFileRequest:
      type: object
      required: [path]
      properties:
        path: { type: string, description: Repository file path, e.g. package.json }
        ref: { type: string, description: Optional branch, tag, or SHA }
    RepoListFilesRequest:
      type: object
      properties:
        prefix: { type: string, description: Optional path prefix }
        ref: { type: string, default: main }
        recursive: { type: boolean, default: true }
    RepoListCommitsRequest:
      type: object
      properties:
        limit: { type: integer, default: 10, maximum: 100 }
        sha: { type: string, default: main }
    RepoListPullRequestsRequest:
      type: object
      properties:
        state: { type: string, enum: [open, closed, all], default: open }
        limit: { type: integer, default: 20, maximum: 100 }
    GithubRequest:
      type: object
      required: [path]
      properties:
        method: { type: string, enum: [GET, HEAD, POST, PUT, PATCH, DELETE], default: GET }
        path: { type: string, description: Repo-scoped GitHub API path, e.g. /contents/README.md or /pulls }
        headers: { type: object, additionalProperties: { type: string } }
        body: { description: JSON body to forward to GitHub }
        confirm: { type: boolean, description: Required for POST/PUT/PATCH/DELETE GitHub requests }
    GithubResponse:
      type: object
      properties:
        ok: { type: boolean }
        status: { type: integer }
        status_text: { type: string }
        method: { type: string }
        path: { type: string }
        github: {}
        rate_limit: { type: object, additionalProperties: true }
    RepoEditOperation:
      type: object
      required: [type, anchor, content]
      properties:
        type:
          type: string
          enum: [insert_after, insert_before, replace_exact]
          description: Operation type
        anchor:
          type: string
          description: Unique string in the file to anchor the operation. Must appear exactly once.
        content:
          type: string
          description: Content to insert or replacement text
    RepoEditRequest:
      type: object
      required: [path, operations]
      properties:
        path: { type: string, description: Repository file path to edit }
        dry_run: { type: boolean, default: true, description: If true, returns diff without committing }
        confirm: { type: boolean, description: Required (true) for committed writes }
        message: { type: string, description: Optional commit message }
        operations:
          type: array
          minItems: 1
          items: { $ref: "#/components/schemas/RepoEditOperation" }
    RepoEditResponse:
      type: object
      properties:
        ok: { type: boolean }
        dry_run: { type: boolean }
        path: { type: string }
        diff_id: { type: string }
        diff: { type: string }
        operations_applied: { type: integer }
        committed: { type: boolean }
        commit_sha: { type: string }
        url: { type: string }
    BuildRequest:
      type: object
      required: [goal]
      properties:
        goal:
          type: string
          description: High-level build intent. Currently supported: "deploy broker"
          example: deploy broker
    BuildResponse:
      type: object
      properties:
        ok: { type: boolean }
        build_id: { type: string }
        job_id: { type: string }
        goal: { type: string }
        status: { type: string }
        state: { type: string }
        stages:
          type: array
          items:
            type: object
            properties:
              name: { type: string }
              status: { type: string, enum: [pending, running, completed, failed, not_applicable] }
        job: { type: object, additionalProperties: true }
        events: { type: array, items: { type: object } }
        verification:
          type: object
          properties:
            ok: { type: boolean }
            status: { type: integer }
            broker: { type: string }
            timestamp: { type: string }
    JobCreateRequest:
      type: object
      required: [type, target, input]
      properties:
        type: { type: string, enum: [deploy] }
        target:
          type: object
          properties:
            surface: { type: string, enum: [broker] }
            name: { type: string }
            ref: { type: string }
        input:
          type: object
          properties:
            workflow: { type: string }
            confirm: { type: string }
        idempotency_key: { type: string }
    ChatRequest:
      type: object
      required: [message]
      properties:
        message: { type: string }
        model: { type: string, enum: [chat, code, vision, fast], default: chat }
        inject_repo_context: { type: boolean, default: true }
        system_override: { type: string }
        history: { type: array, items: { type: object, properties: { role: { type: string }, content: { type: string } } } }
    ImageGenRequest:
      type: object
      required: [prompt]
      properties:
        prompt: { type: string }
        model: { type: string, enum: [flux-schnell, flux-dev, sdxl, sdxl-lightning], default: flux-schnell }
        width: { type: integer, default: 1024 }
        height: { type: integer, default: 1024 }
        upload_to_r2: { type: boolean, default: true }
        r2_key: { type: string }
    ImageAnalyzeRequest:
      type: object
      required: [image_url, question]
      properties:
        image_url: { type: string }
        question: { type: string }
    D1QueryRequest:
      type: object
      required: [sql]
      properties:
        sql: { type: string }
        params: { type: array, items: {} }
    KVSetRequest:
      type: object
      required: [key, value, confirm]
      properties:
        key: { type: string }
        value: { type: string }
        ttl: { type: integer }
        confirm: { type: boolean }
    DeployWorkerRequest:
      type: object
      required: [name, code]
      properties:
        name: { type: string }
        code: { type: string }
        confirm: { type: boolean, description: Optional for this Action bridge; deploy flag still required }
    CreatePriceRequest:
      type: object
      required: [name, amount_cents, interval, confirm]
      properties:
        name: { type: string }
        amount_cents: { type: integer }
        interval: { type: string, enum: [month, year, one_time] }
        currency: { type: string, default: usd }
        confirm: { type: boolean }
    GenerateComponentRequest:
      type: object
      required: [description]
      properties:
        description: { type: string }
        component_name: { type: string }
        target_path: { type: string }
        style_context: { type: string }
        generate_mockup: { type: boolean }
    GenerateWorkerRequest:
      type: object
      required: [name, description]
      properties:
        name: { type: string }
        description: { type: string }
        routes: { type: array, items: { type: string } }
        bindings: { type: array, items: { type: object } }
    ProposePRRequest:
      type: object
      required: [files, title]
      description: >
        Commit or PR file changes. For EXISTING files, provide operations[] (anchor-based patch via /repo/edit).
        Raw content is only accepted for NEW files that do not yet exist in the repo.
        Attempting to supply content for an existing file returns HTTP 409 with a redirect hint.
      properties:
        title: { type: string }
        body: { type: string }
        mode: { type: string, enum: [direct, pr], default: direct }
        files:
          type: array
          items:
            type: object
            required: [path]
            properties:
              path: { type: string, description: Repository file path }
              content:
                type: string
                description: >
                  Raw file content. Only accepted for NEW files (path does not exist on main).
                  For existing files, use operations[] instead.
              operations:
                type: array
                description: >
                  Anchor-based edit operations for EXISTING files. Routed through /repo/edit internally.
                  Use this instead of content for any file that already exists in the repo.
                items: { $ref: "#/components/schemas/RepoEditOperation" }
              sha: { type: string, description: Optional SHA hint for conflict detection }
security:
  - BearerAuth: []
